//#shopquik-bg {
//  background: image-url('shopquik_bg_trans.png') center center no-repeat;
//  background-attachment: fixed;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//}

#my-shopping-list {
//  background-color: #fff;
//  opacity: .9;
}

#my-shopping-list h2 {
  color: #442102;
}

#month-list {
  padding: 10px 20px;
}

#month-list-inner {
  border: 1px solid #000;
  padding: 20px;
}

#list-items {
  padding: 10px 20px;
}

#list-items-inner {
  border: 1px solid #000;
  padding: 20px;
}

.list-items,
.register-modal p {
  color: #fff;
}

.complete-item td,
.complete-item i {
  opacity: 0.4;
  text-decoration: line-through;
}

.items-table thead tr th {
  text-align: center;
  font-weight: bold;
}

.create-new-list .btn {
  background-color: $theme-colour;
  border-radius: 0;
  border: 1px solid white;
  color: white;
  font-size: 1em;
  margin-top: 20px;
  padding: 12px 12px;
  width: 80%;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  -ms-transition: all .55s;
  -o-transition: all .55s;
  transition: all .55s;
}

.create-new-list .btn:hover,
.create-new-list .btn:focus,
.create-new-list .btn:active {
  background-color: transparent;
  border: 1px solid $theme-colour;
  color: $theme-colour;
}

.new-item-input tbody tr td input {
  width: 80px;
}