#shopquik-bg {
  background: image-url('shopquik_bg_trans.png') center center no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#my-shopping-list {
//  background-color: #fff;
//  opacity: .9;
}

#my-shopping-list h2 {
  color: #442102;
}

#month-list {
  padding: 10px 20px;
}

#month-list-inner {
  border: 1px solid #000;
  padding: 20px;
}

#list-items {
  padding: 10px 20px;
}

#list-items-inner {
  border: 1px solid #000;
  padding: 20px;
}

.list-items,
.register-modal p {
  color: #fff;
}

ul.lists {
  padding: 0;
}

ul.items li,
ul.lists li {
  display: inline-block;
}