/* NAVBAR HOMEPAGE */
#nav-home {
  padding: 20px 0;
  background-color: transparent;
  border-color: transparent;
}

.register,
.login,
.menu,
.login:hover,
.login:active,
.login:focus,
.menu:hover,
.menu:focus,
.menu:active {
  background-color: transparent;
  border: 1px solid #7d7b7e; // Titanium
  padding-right: 15px;
  padding-left: 15px;
}

.register:hover,
.login:hover,
.menu:hover {
  border-color: #000;
}

.login {
  margin-left: 20px;
}

.navbar-default .navbar-nav > li > a {
  color: #7d7b7e;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
  color: #000;
}

.register a,
.login a,
.menu a {
  font-size: 1.3em;
  color: #7d7b7e;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #000;
  border: 1px solid transparent;
}


/* SUB - Login Dropdown Form */
.form-control {
  border-radius: 0;
}

#dropdown-login {
  padding: 20px;
  background: image-url('opaque_bg.png') center center no-repeat;
}

#dropdown-login h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .input-group {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .login,
  .login:hover,
  .login:active,
  .login:focus {
    border: none;
  }
}

.login-input input {
  padding: 5px;
}

.login-input input,
.create-form input,
.create-form select {
  font-size: 1.2em;
  outline: 0;
  color: #000;
  border: 1px solid #000;
  -webkit-transition: background-color .4s;
  -moz-transition: background-color .4s;
  -ms-transition: background-color .4s;
  -o-transition: background-color .4s;
  transition: background-color .4s;
}

.login-input input:hover,
.login-input input:focus,
.login-input input:active,
.create-form input:hover,
.create-form input:focus,
.create-form input:active,
.create-form select:hover,
.create-form select:focus,
.create-form select:active {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.login-btn .btn input,
.login-btn .btn input:focus,
.login-btn .btn input:active,
.create-btn .btn input,
.create-btn .btn input:focus,
.create-btn .btn input:active {
  background-color: transparent;
  border: none;
  outline: 0;
}

.login-btn .btn,
.create-btn .btn {
  background-color: #fff;
  border-radius: 0;
  color: #000;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  -ms-transition: all .55s;
  -o-transition: all .55s;
  transition: all .55s;
}

.login-btn .btn:hover,
.login-btn .btn:focus,
.login-btn .btn:active,
.create-btn .btn:hover,
.create-btn .btn:focus,
.create-btn .btn:active {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.auth-dropdown-login {
  padding: 10px;
  border-top: 1px solid #999;
  margin-top: 30px;
}

.login-social {
  padding: 5px;
  font-size: 1em;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  -ms-transition: all .55s;
  -o-transition: all .55s;
  transition: all .55s;
}

.auth-dropdown-login a:hover,
.auth-dropdown-login a:focus,
.auth-dropdown-login a:active {
  text-decoration: none;
}


/* NAVBAR LOGGED IN */
.logout {
  padding: 0 5px;
  border: 1px solid #7d7b7e;
  border-radius: .5em;
}

.logout:hover,
.logout:focus,
.logout:active {
  border: 1px solid #000;
}

.name {
  font-size: 1.5em;
}

.navbar-nav > li > a {
  line-height: normal;
}

.logout-link,
.menu-list {
  color: #7d7b7e;
  background-color: transparent;
  border: 1px solid #7d7b7e;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  -ms-transition: all .55s;
  -o-transition: all .55s;
  transition: all .55s;
}

.logout-link:hover,
.logout-link:focus,
.logout-link:active {
  background-color: #fff;
  color: #000;
}

.logout-link li {
  padding: 5px 0;
}

.logout-link li a {
  color: #7d7b7e;
  font-size: 1.2em;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  -ms-transition: all .55s;
  -o-transition: all .55s;
  transition: all .55s;
}

.logout-link li a:hover,
.logout-link li a:focus,
.logout-link li a:active {
  color: #000;
}


/* MENU - NAVBAR LEFT MENU */
.menu-list li {
  font-size: 1.2em;
  padding: 10px;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  -ms-transition: all .55s;
  -o-transition: all .55s;
  transition: all .55s;
}

.menu-list li:hover,
.menu-list li:focus,
.menu-list li:active {
  background-color: #fff;
  color: #000;
}

.menu-list li:nth-child(-n+2) {
  border-bottom: 1px solid #7d7b7e;
}

.menu-list li a {
  color: #7d7b7e;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  -ms-transition: all .55s;
  -o-transition: all .55s;
  transition: all .55s;
}

.menu-list li a:hover,
.menu-list li a:focus,
.menu-list li a:active {
  color: #000;
}

.dropdown-menu > li > a:hover {
  background-color: transparent;
  color: #000;
}


/* REGISTER FORM MODAL */
.register-modal {
  background: image-url('opaque_bg.png') center center no-repeat;
}

.register-modal h2,
.register-modal h5,
.close span {
  color: #fff;
  padding: 20px;
}

.register-modal h2 {
  margin-top: 20px;
}

.auth-login {
  padding: 0 10px;
}

.google-btn i,
.facebook-btn i {
  padding: 8px 3px;
}

.btn-social {
  padding: 12px;
  padding-left: 44px;
  font-size: 1.2em;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  -ms-transition: all .55s;
  -o-transition: all .55s;
  transition: all .55s;
}

.auth-login a:hover,
.auth-login a:focus,
.auth-login a:active {
  text-decoration: none;
}