// PROFILE DIV
#profile {
  padding: 20px 10px;
  background-color: $glacier-gray;
}

#profile-picture img {
  width: 60%;
}

#guest-details {
  font-size: 1.2em;
  font-weight: bold;
  padding: 20px;
}

#guest-details p:first-of-type {
  text-transform: uppercase;
}

#guest-details p:last-of-type {
  font-size: .8em;
  color: #696969;
}

.edit-head {
  border-top: 2px solid #6d6d61;
  padding: 20px 0;
  color: $theme-colour;
}

.update-profile-buttons .btn input,
.update-profile-buttons .btn input:focus,
.update-profile-buttons .btn input:active {
  background-color: transparent;
  border: none;
  outline: 0;
}

.update-profile-buttons .btn,
.edit-profile .btn {
  background-color: transparent;
  border-radius: 0;
  color: $theme-colour;
  border: 1px solid $theme-colour;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  -ms-transition: all .55s;
  -o-transition: all .55s;
  transition: all .55s;
}

.update-profile-buttons .btn:hover,
.update-profile-buttons .btn:focus,
.update-profile-buttons .btn:active,
.edit-profile .btn:hover,
.edit-profile .btn:focus,
.edit-profile .btn:active {
  background-color: $theme-colour;
  border: 1px solid #fff;
  color: #fff;
}

.update-profile-buttons .btn {
  color: #4b4b43;
}

.update-profile-buttons .btn:hover,
.update-profile-buttons .btn:focus,
.update-profile-buttons .btn:active {
  color: #d5d5be;
}

.edit-profile .btn a {
  text-decoration: none;
  color: $theme-colour;
}

.update-profile-buttons .btn a {
  text-decoration: none;
  color: #4b4b43;
}

.update-profile-buttons .btn a:hover,
.update-profile-buttons .btn a:focus,
.update-profile-buttons .btn a:active,
.edit-profile .btn a:hover,
.edit-profile .btn a:focus,
.edit-profile .btn a:active {
  text-decoration: none;
  color: #fff;
}

.edit-profile .btn {
  width: 100%;
  padding: 12px 12px;
  font-size: 1em;
  margin-top: 20px;
}

#delete-account {
  margin: 40px auto;
  border-top: 2px solid #442102;
  text-align: center;
}

#delete-account h3 {
  background-color: #df3e3e;
  color: #c6cccc;
  padding: 10px;
}

#delete-account .button_to input:nth-of-type(2) {
  padding: 10px;
  margin-top: 10px;
  color: #df3e3e;
  border: 1px solid #df3e3e;
  outline: 0;
  -webkit-transition: all .55s;
  -moz-transition: all .55s;
  -ms-transition: all .55s;
  -o-transition: all .55s;
  transition: all .55s;
}

#delete-account .button_to input:nth-of-type(2):hover,
#delete-account .button_to input:nth-of-type(2):focus,
#delete-account .button_to input:nth-of-type(2):active {
  background-color: #df3e3e;
  color: #ececec;
  border: 1px solid #ececec;
}