@font-face {
  font-family: 'AdmirationPains';
  src: url('Admiration Pains.ttf') format('truetype');
}

@font-face {
  font-family: 'QuickSand';
  src: url('Quicksand_Book.otf') format('truetype');
}

$glacier_gray: #C6CCCC;
$theme-colour: #442102;