.container
  .row
    .col-lg-10.col-lg-offset-1.text-center
      %h3 <strong>Forecast</strong>
      %br
      %p 2/4 Funsho Street <br> Off Alara Road, Sabo <br> Yaba, Lagos, Nigeria
      %br
      %ul.list-unstyled
        %li
          %i.fa.fa-phone.fa-fw
          (234) 815 472 0234
        %li
          %i.fa.fa-envelope-o.fa-fw
          %a{href: 'mailto:fiyinfoluwa.adebayo@andela.com'} Send a mail
      %hr.small
      %p.text-muted Copyright &copy; Forecast 2015