%footer
  .container-fluid
    .row
      .text-center
        %ul
          %li BUDGET
          %li
            %i.fa.fa-angle-double-right
          %li SHOP
          %li
            %i.fa.fa-angle-double-right
          %li TRACK
          %li
            %i.fa.fa-angle-double-right
          %li
            %em ...never swim naked