.container
  .row.text-center
    .col-lg-10.col-lg-offset-1
      %h2 Financial Forecasting
      %hr.small
      .row
        .col-md-4.col-sm-6
          .forecasting-item
            %span.fa-stack.fa-4x
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-credit-card.fa-stack-1x.text-forecasting
            %h4
              %strong Budget
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            .btn.btn-light.fore-btn= link_to 'Get Started', budgets_monthly_earnings_path
        .col-md-4.col-sm-6
          .forecasting-item
            %span.fa-stack.fa-4x
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-shopping-cart.fa-stack-1x.text-forecasting
            %h4
              %strong Shopquik
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            .btn.btn-light.fore-btn= link_to 'Create A List', shopquik_todo_lists_path
        .col-md-4.col-sm-6
          .forecasting-item
            %span.fa-stack.fa-4x
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-line-chart.fa-stack-1x.text-forecasting
            %h4
              %strong Track
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            .btn.btn-light.fore-btn= link_to 'See Records', root_path
