%h1 forecast
.quote.text-center.col-md-5
  - if guest_signed_in?
    %p
      %em “Both optimists and pessimists contribute to our society.  The optimist invents the airplane and the pessimist the parachute.” <br> – Gil Stern
  - else
    %p
      %em “The pessimist complains about the wind; the optimist expects it to change; the realist adjusts the sails.” <br> – William Arthur Ward