#home
  = render 'nav_home'
  .container
    .row
      .text-center.logo
        %h1 Forecast
      .quote.text-center.col-md-5
        %p “The pessimist complains about the wind; the optimist expects it to change; the realist adjusts the sails.” <br> – William Arthur Ward