.text-center
  %h2= @todo_list.title
  %h4= @todo_list.description
  .container-fluid
    .row
      %p.status
      %p.delete-status
      - if @todo_list.shopquik_todo_items.empty?
        %p.status
          There are currently no items under this list...add now!
      - else
        .row
          .items.table-responsive
            %table.table.table-condensed.table-hover.items-table
              %thead
                %tr
                  %th
                  %th Item
                  %th Quantity
                  %th Cost
                  %th Delete
              = render @todo_list.shopquik_todo_items
      = render partial: 'shopquik/todo_items/new'