.text-center
  %h2= @todo_list.title
  %h4= @todo_list.description
  .container-fluid
    .row
      %p.status
      %p.delete-status
      - if @todo_list.shopquik_todo_items.empty?
        %p
          %em There are currently no items under this list...add now!
      - else
        = render @todo_list.shopquik_todo_items
      = render partial: 'shopquik/todo_items/new'